{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="page-header-line">
      <h1 class="page-heading">{{ page.title }}</h1>
    </div>

    <div class="gallery">
      <div class="columns is-multiline is-variable is-4">
        {% for article in articles if article.category.name|lower == page.category|lower %}
          <div class="column is-one-third">
            <article class="gallery-item">

              {% if article.metadata.featured_image %}
                <figure class="image">
                  <img class="rounded-lg" src="{{ SITEURL }}/{{ article.metadata.featured_image }}" alt="{{ article.title }}">
                </figure>
              {% endif %}

              <h2 class="title is-5 mt-3 mb-2">
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
              </h2>

              <p class="is-size-7 has-text-grey mb-1 no-indent gallery-meta">
                <span class="icon is-small"><i class="ti-user"></i></span>
                {{ article.author or AUTHOR }}
                &nbsp;&nbsp; Date: {{ article.date.strftime('%B %d, %Y') }}
                &nbsp;&nbsp; Category: {{ article.category.name }}
                {% if article.tags %}
                  <br>Tags:
                  {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/tag/{{ tag.slug }}.html">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}
              </p>

              <p class="excerpt">{{ article.summary or article.content[:180]|striptags }}...</p>

              <a class="btn btn-outline-primary mt-2" href="{{ SITEURL }}/{{ article.url }}">Continue Reading</a>
            </article>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
